<a href="https://colab.research.google.com/github/nurskurmanbekov/Applied-Data-Science-with-Python/blob/main/Week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Introduction to Pandas***

<b>Pandas</b>

*    Created in 2006 by Wes McKinney
*    Open source  New BSD license 
*    100 different  contributors

<b>Stack Overflow</b>

*    Massive knowledge  forum of python  and pandas  related content 
*    Free to join and participate in 
*    Heavily  used by pandas  developers  instead of a mailing list

<b>Plant Python</b>

*    Excellent  blog aggregator for  python related new
*    Significant  number  of data  sciense  and python  tutorials are posted 
*    Great  blend  of applied  beginner  and higher  level  python postings

<b>Data Skeptic Podcast</b>
*    Kyle Polich,  created in 2014
*    Covers  data sciense  more generally, including
  *   Mini educational  lessons 
  *   Interviews 
  *   Trends
  *   Shared community  project(Open House)

# ***The Series Data Structure***

In this lecture we're going to explore the pandas Series structure. By the end of this you should be familiar how to store and manipulate single dimensinal indexed in the Series object.

The series  is one  of the data structures in pandas. You think of it a cross between a list and a dictionary.

The items are all stored in order  and there's labels with wich  you can  retrieve them.

An easy way to visualize this is two columns of data. The first is the special index,  a lot like  keys in a dictionary.

In [4]:
# Let's import pandas to get  started
import pandas as pd

In [14]:
students = ['Nursultan', 'Bill', 'Warren']

In [15]:
pd.Series(students)

0    Nursultan
1         Bill
2       Warren
dtype: object

In [7]:
numbers = [1,2,3]

In [8]:
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [16]:
students1 = ['Nursultan','Bill', 'Warren', None]

In [17]:
pd.Series(students1)

0    Nursultan
1         Bill
2       Warren
3         None
dtype: object

In [20]:
numbers1 = [1,2,3,None]

In [21]:
pd.Series(numbers1)

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64