<a href="https://colab.research.google.com/github/nurskurmanbekov/Applied-Data-Science-with-Python/blob/main/Week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Introduction to Pandas***

<b>Pandas</b>

*    Created in 2006 by Wes McKinney
*    Open source  New BSD license 
*    100 different  contributors

<b>Stack Overflow</b>

*    Massive knowledge  forum of python  and pandas  related content 
*    Free to join and participate in 
*    Heavily  used by pandas  developers  instead of a mailing list

<b>Plant Python</b>

*    Excellent  blog aggregator for  python related new
*    Significant  number  of data  sciense  and python  tutorials are posted 
*    Great  blend  of applied  beginner  and higher  level  python postings

<b>Data Skeptic Podcast</b>
*    Kyle Polich,  created in 2014
*    Covers  data sciense  more generally, including
  *   Mini educational  lessons 
  *   Interviews 
  *   Trends
  *   Shared community  project(Open House)

# ***The Series Data Structure***

In this lecture we're going to explore the pandas Series structure. By the end of this you should be familiar how to store and manipulate single dimensinal indexed in the Series object.

The series  is one  of the data structures in pandas. You think of it a cross between a list and a dictionary.

The items are all stored in order  and there's labels with wich  you can  retrieve them.

An easy way to visualize this is two columns of data. The first is the special index,  a lot like  keys in a dictionary.

In [1]:
# Let's import pandas to get  started
import pandas as pd

In [2]:
students = ['Nursultan', 'Bill', 'Warren']

In [3]:
pd.Series(students)

0    Nursultan
1         Bill
2       Warren
dtype: object

In [4]:
numbers = [1,2,3]

In [5]:
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [6]:
students1 = ['Nursultan','Bill', 'Warren', None]

In [7]:
pd.Series(students1)

0    Nursultan
1         Bill
2       Warren
3         None
dtype: object

In [8]:
numbers1 = [1,2,3,None]

In [9]:
pd.Series(numbers1)

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [10]:
student_scores = {'Nursultan' : 'Physics',
                  'Bill' : 'Computer Sciense',
                  'Warren' : 'Economics'}

In [11]:
s = pd.Series(student_scores)

In [12]:
s.index

Index(['Nursultan', 'Bill', 'Warren'], dtype='object')

In [13]:
students2 = [('Nursultan', 'White'), ('Bill', 'Black'), ('Warren', 'Green')]

In [14]:
pd.Series(students2)

0    (Nursultan, White)
1         (Bill, Black)
2       (Warren, Green)
dtype: object

In [15]:
s = pd.Series(['Physics', 'Computer Science', 'Economics'], index = ['Nursultan', 'Bill', 'Warren'])

In [16]:
s

Nursultan             Physics
Bill         Computer Science
Warren              Economics
dtype: object

In [17]:
student_scores1 = {'Nursultan' : 'Physics',
                   'Bill' : 'Computer Sciense',
                   'Warren' : 'Economics'}

In [18]:
s = pd.Series(student_scores1, index =['Nursultan', 'Bill', 'Warren'])

In [19]:
s

Nursultan             Physics
Bill         Computer Sciense
Warren              Economics
dtype: object

In the lecture we've explored the pandas Series structure. You've seen  how to  create  a series from  list and dictionaries, how  indicies on data work, and the way  that pandas typecases data including values.

# ***Querying a Series***

In [20]:
import pandas as pd

In [21]:
student_class = {'Nursultan' : 'Physics',
                 'Bill' : 'Computer Science',
                 'Warren' : 'Economics',
                 'Kudaybergen' : 'History, MAth'}

In [22]:
s = pd.Series(student_class)

In [23]:
s

Nursultan               Physics
Bill           Computer Science
Warren                Economics
Kudaybergen       History, MAth
dtype: object

In [24]:
s.iloc[3]

'History, MAth'

In [25]:
s.loc['Nursultan']

'Physics'

In [26]:
s[3]

'History, MAth'

In [27]:
s[1]

'Computer Science'

In [28]:
class_code = {99 : 'Physics',
              100 : 'Chemistry',
              101 : 'English',
              102 :'History'}

In [29]:
s = pd.Series(class_code)

In [30]:
s

99       Physics
100    Chemistry
101      English
102      History
dtype: object

In [31]:
try:
  s[3]
except:
  print('KeyError')

KeyError

In [32]:
s.iloc[1]

'Chemistry'

In [33]:
s.loc[99]

'Physics'

In [34]:
grades = pd.Series([90, 80, 70, 60])
total = 0
for grade in grades:
  total +=grade
print(total/len(grades))

75.0

In [35]:
import numpy as np

In [36]:
total = np.sum(grades)
print(total/len(grades))

75.0

In [37]:
numbers = pd.Series(np.random.randint(0, 1000, 10000))

In [38]:
numbers

0       349
1       295
2       811
3       628
4       961
       ...
9995    237
9996    864
9997    724
9998    256
9999     66
Length: 10000, dtype: int64

In [39]:
numbers.head()

0    349
1    295
2    811
3    628
4    961
dtype: int64

In [40]:
len(numbers)

10000

In [41]:
%%timeit -n 100
total = 0
for number in numbers:
  total += number
total/len(numbers)

100 loops, best of 5: 1.34 ms per loop

In [42]:
%%timeit -n 100
total = np.sum(numbers)
total/len(numbers)

The slowest run took 4.08 times longer than the fastest. This could mean that an intermediate result is being cached.
100 loops, best of 5: 59.3 µs per loop

In [43]:
%%timeit -n 100
numbers.head()

100 loops, best of 5: 31.4 µs per loop

In [44]:
numbers.head()

0    349
1    295
2    811
3    628
4    961
dtype: int64

In [45]:
%%timeit -n 100
count = 0
if count !=  5:
  for llist in numbers:
    if count !=  5:
      break
    print(llist)
    count +=1

100 loops, best of 5: 3.36 µs per loop

In [47]:
numbers.head()

0    349
1    295
2    811
3    628
4    961
dtype: int64

In [49]:
numbers += 2

In [53]:
numbers.head()

0    351
1    297
2    813
3    630
4    963
dtype: int64

In [56]:
%%timeit -n 10 
s = pd.Series(np.random.randint(0, 1000, 10000))

for label, value in s.iteritems():
  s.loc[label] = value+2

10 loops, best of 5: 431 ms per loop

In [57]:
%%timeit -n 10

s = pd.Series(np.random.randint(0, 1000,10000))
s+2

10 loops, best of 5: 230 µs per loop

In [58]:
s = pd.Series([1,2,3])

In [59]:
s.loc['History'] = 102

In [60]:
s

0            1
1            2
2            3
History    102
dtype: int64

In [61]:
student_class = pd.Series({'Nursultan' : 'Physics',
                           'Bill' : 'Computer Scince',
                           'Warren' : 'Economics',
                           'Kudya' : 'Mathematics'})

In [62]:
student_class

Nursultan            Physics
Bill         Computer Scince
Warren             Economics
Kudya            Mathematics
dtype: object

In [63]:
kelly_class = pd.Series(['Philosophy', 'Arts', 'Biology'], index = ['Djasmin', 'Temirlan', 'Eldar'])

In [64]:
all_student = student_class.append(kelly_class)

In [65]:
all_student

Nursultan            Physics
Bill         Computer Scince
Warren             Economics
Kudya            Mathematics
Djasmin           Philosophy
Temirlan                Arts
Eldar                Biology
dtype: object

In [66]:
all_student.loc['Nursultan']

'Physics'

In [67]:
all_student.loc['Kudya']

'Mathematics'

# ***DataFrame Data Structure***

In [68]:
import pandas as pd

In [69]:
record1 = pd.Series({'Name' : 'Nursultan',
                     'Class' : 'Physics',
                     'Score' : 100})
record2 = pd.Series({'Name' : 'Bill',
                     'Class' : 'Computer Scince',
                     'Score' : 100})
record3 = pd.Series({'Name' : 'Warren',
                     'Class' : 'Economics',
                     'Score' : 100})

In [70]:
df = pd.DataFrame([record1, record2, record3],)

In [71]:
df

        Name            Class  Score
0  Nursultan          Physics    100
1       Bill  Computer Scince    100
2     Warren        Economics    100

In [72]:
df2 = pd.DataFrame([record1, record2, record3],index = ['School 1', 'School 2', 'School 3'])

In [73]:
df2

               Name            Class  Score
School 1  Nursultan          Physics    100
School 2       Bill  Computer Scince    100
School 3     Warren        Economics    100

In [75]:
students =  [{'Name' : 'Nursultan',
              'Class' : 'Physics',
              'Score' : 80},
             {'Name' : 'Bill',
              'Class' : 'Computer Science',
              'Score' : 100},
             {'Name' : 'Warren',
              'Class' : 'Economics',
              'Score' : 100}]

In [76]:
students

[{'Class': 'Physics', 'Name': 'Nursultan', 'Score': 80},
 {'Class': 'Computer Science', 'Name': 'Bill', 'Score': 100},
 {'Class': 'Economics', 'Name': 'Warren', 'Score': 100}]

In [77]:
pd.DataFrame(students)

        Name             Class  Score
0  Nursultan           Physics     80
1       Bill  Computer Science    100
2     Warren         Economics    100

In [86]:
df = pd.DataFrame(students, index = ['Junior', 'Master', 'Master'])