<a href="https://colab.research.google.com/github/nurskurmanbekov/Applied-Data-Science-with-Python/blob/main/Week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Introduction to Pandas***

<b>Pandas</b>

*    Created in 2006 by Wes McKinney
*    Open source  New BSD license 
*    100 different  contributors

<b>Stack Overflow</b>

*    Massive knowledge  forum of python  and pandas  related content 
*    Free to join and participate in 
*    Heavily  used by pandas  developers  instead of a mailing list

<b>Plant Python</b>

*    Excellent  blog aggregator for  python related new
*    Significant  number  of data  sciense  and python  tutorials are posted 
*    Great  blend  of applied  beginner  and higher  level  python postings

<b>Data Skeptic Podcast</b>
*    Kyle Polich,  created in 2014
*    Covers  data sciense  more generally, including
  *   Mini educational  lessons 
  *   Interviews 
  *   Trends
  *   Shared community  project(Open House)

# ***The Series Data Structure***

In this lecture we're going to explore the pandas Series structure. By the end of this you should be familiar how to store and manipulate single dimensinal indexed in the Series object.

The series  is one  of the data structures in pandas. You think of it a cross between a list and a dictionary.

The items are all stored in order  and there's labels with wich  you can  retrieve them.

An easy way to visualize this is two columns of data. The first is the special index,  a lot like  keys in a dictionary.

In [ ]:
# Let's import pandas to get  started
import pandas as pd

In [ ]:
students = ['Nursultan', 'Bill', 'Warren']

In [ ]:
pd.Series(students)

0    Nursultan
1         Bill
2       Warren
dtype: object

In [ ]:
numbers = [1,2,3]

In [ ]:
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [ ]:
students1 = ['Nursultan','Bill', 'Warren', None]

In [ ]:
pd.Series(students1)

0    Nursultan
1         Bill
2       Warren
3         None
dtype: object

In [ ]:
numbers1 = [1,2,3,None]

In [ ]:
pd.Series(numbers1)

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [ ]:
student_scores = {'Nursultan' : 'Physics',
                  'Bill' : 'Computer Sciense',
                  'Warren' : 'Economics'}

In [ ]:
s = pd.Series(student_scores)

In [ ]:
s.index

Index(['Nursultan', 'Bill', 'Warren'], dtype='object')

In [ ]:
students2 = [('Nursultan', 'White'), ('Bill', 'Black'), ('Warren', 'Green')]

In [ ]:
pd.Series(students2)

0    (Nursultan, White)
1         (Bill, Black)
2       (Warren, Green)
dtype: object

In [ ]:
s = pd.Series(['Physics', 'Computer Science', 'Economics'], index = ['Nursultan', 'Bill', 'Warren'])

In [ ]:
s

Nursultan             Physics
Bill         Computer Science
Warren              Economics
dtype: object

In [ ]:
student_scores1 = {'Nursultan' : 'Physics',
                   'Bill' : 'Computer Sciense',
                   'Warren' : 'Economics'}

In [ ]:
s = pd.Series(student_scores1, index =['Nursultan', 'Bill', 'Warren'])

In [ ]:
s

Nursultan             Physics
Bill         Computer Sciense
Warren              Economics
dtype: object

In the lecture we've explored the pandas Series structure. You've seen  how to  create  a series from  list and dictionaries, how  indicies on data work, and the way  that pandas typecases data including values.

# ***Querying a Series***

In [1]:
import pandas as pd

In [6]:
student_class = {'Nursultan' : 'Physics',
                 'Bill' : 'Computer Science',
                 'Warren' : 'Economics',
                 'Kudaybergen' : 'History, MAth'}

In [7]:
s = pd.Series(student_class)

In [8]:
s

Nursultan               Physics
Bill           Computer Science
Warren                Economics
Kudaybergen       History, MAth
dtype: object

In [9]:
s.iloc[3]

'History, MAth'

In [10]:
s.loc['Nursultan']

'Physics'

In [11]:
s[3]

'History, MAth'

In [13]:
s[1]

'Computer Science'

In [14]:
class_code = {99 : 'Physics',
              100 : 'Chemistry',
              101 : 'English',
              102 :'History'}

In [15]:
s = pd.Series(class_code)

In [16]:
s

99       Physics
100    Chemistry
101      English
102      History
dtype: object

In [19]:
try:
  s[3]
except:
  print('KeyError')

KeyError

In [20]:
s.iloc[1]

'Chemistry'

In [21]:
s.loc[99]

'Physics'

In [23]:
grades = pd.Series([90, 80, 70, 60])
total = 0
for grade in grades:
  total +=grade
print(total/len(grades))

75.0

In [24]:
import numpy as np

In [26]:
total = np.sum(grades)
print(total/len(grades))

75.0

In [27]:
numbers = pd.Series(np.random.randint(0, 1000, 10000))

In [28]:
numbers

0       841
1       130
2       543
3       335
4       981
       ...
9995    301
9996    584
9997    903
9998    425
9999    193
Length: 10000, dtype: int64

In [30]:
numbers.head()

0    841
1    130
2    543
3    335
4    981
dtype: int64

In [31]:
len(numbers)

10000

In [33]:
%%timeit -n 100
total = 0
for number in numbers:
  total += number
total/len(numbers)

100 loops, best of 5: 1.29 ms per loop

In [34]:
%%timeit -n 100
total = np.sum(numbers)
total/len(numbers)

100 loops, best of 5: 57.7 µs per loop

In [36]:
%%timeit -n 100
numbers.head()

100 loops, best of 5: 39.1 µs per loop

In [38]:
numbers.head()

0    841
1    130
2    543
3    335
4    981
dtype: int64

In [44]:
%%timeit -n 100
count = 0
if count !=  5:
  for llist in numbers:
    if count !=  5:
      break
    print(llist)
    count +=1

100 loops, best of 5: 2.69 µs per loop