<a href="https://colab.research.google.com/github/nurskurmanbekov/Applied-Data-Science-with-Python/blob/main/Week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Introduction to Pandas***

<b>Pandas</b>

*    Created in 2006 by Wes McKinney
*    Open source  New BSD license 
*    100 different  contributors

<b>Stack Overflow</b>

*    Massive knowledge  forum of python  and pandas  related content 
*    Free to join and participate in 
*    Heavily  used by pandas  developers  instead of a mailing list

<b>Plant Python</b>

*    Excellent  blog aggregator for  python related new
*    Significant  number  of data  sciense  and python  tutorials are posted 
*    Great  blend  of applied  beginner  and higher  level  python postings

<b>Data Skeptic Podcast</b>
*    Kyle Polich,  created in 2014
*    Covers  data sciense  more generally, including
  *   Mini educational  lessons 
  *   Interviews 
  *   Trends
  *   Shared community  project(Open House)

# ***The Series Data Structure***

In this lecture we're going to explore the pandas Series structure. By the end of this you should be familiar how to store and manipulate single dimensinal indexed in the Series object.

The series  is one  of the data structures in pandas. You think of it a cross between a list and a dictionary.

The items are all stored in order  and there's labels with wich  you can  retrieve them.

An easy way to visualize this is two columns of data. The first is the special index,  a lot like  keys in a dictionary.

In [ ]:
# Let's import pandas to get  started
import pandas as pd

In [ ]:
students = ['Nursultan', 'Bill', 'Warren']

In [ ]:
pd.Series(students)

0    Nursultan
1         Bill
2       Warren
dtype: object

In [ ]:
numbers = [1,2,3]

In [ ]:
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [ ]:
students1 = ['Nursultan','Bill', 'Warren', None]

In [ ]:
pd.Series(students1)

0    Nursultan
1         Bill
2       Warren
3         None
dtype: object

In [ ]:
numbers1 = [1,2,3,None]

In [ ]:
pd.Series(numbers1)

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [ ]:
student_scores = {'Nursultan' : 'Physics',
                  'Bill' : 'Computer Sciense',
                  'Warren' : 'Economics'}

In [ ]:
s = pd.Series(student_scores)

In [ ]:
s.index

Index(['Nursultan', 'Bill', 'Warren'], dtype='object')

In [ ]:
students2 = [('Nursultan', 'White'), ('Bill', 'Black'), ('Warren', 'Green')]

In [ ]:
pd.Series(students2)

0    (Nursultan, White)
1         (Bill, Black)
2       (Warren, Green)
dtype: object

In [ ]:
s = pd.Series(['Physics', 'Computer Science', 'Economics'], index = ['Nursultan', 'Bill', 'Warren'])

In [ ]:
s

Nursultan             Physics
Bill         Computer Science
Warren              Economics
dtype: object

In [ ]:
student_scores1 = {'Nursultan' : 'Physics',
                   'Bill' : 'Computer Sciense',
                   'Warren' : 'Economics'}

In [ ]:
s = pd.Series(student_scores1, index =['Nursultan', 'Bill', 'Warren'])

In [ ]:
s

Nursultan             Physics
Bill         Computer Sciense
Warren              Economics
dtype: object

In the lecture we've explored the pandas Series structure. You've seen  how to  create  a series from  list and dictionaries, how  indicies on data work, and the way  that pandas typecases data including values.

# ***Querying a Series***

In [ ]:
import pandas as pd

In [ ]:
student_class = {'Nursultan' : 'Physics',
                 'Bill' : 'Computer Science',
                 'Warren' : 'Economics',
                 'Kudaybergen' : 'History, MAth'}

In [ ]:
s = pd.Series(student_class)

In [ ]:
s

Nursultan               Physics
Bill           Computer Science
Warren                Economics
Kudaybergen       History, MAth
dtype: object

In [ ]:
s.iloc[3]

'History, MAth'

In [ ]:
s.loc['Nursultan']

'Physics'

In [ ]:
s[3]

'History, MAth'

In [ ]:
s[1]

'Computer Science'

In [ ]:
class_code = {99 : 'Physics',
              100 : 'Chemistry',
              101 : 'English',
              102 :'History'}

In [ ]:
s = pd.Series(class_code)

In [ ]:
s

99       Physics
100    Chemistry
101      English
102      History
dtype: object

In [ ]:
try:
  s[3]
except:
  print('KeyError')

KeyError

In [ ]:
s.iloc[1]

'Chemistry'

In [ ]:
s.loc[99]

'Physics'

In [ ]:
grades = pd.Series([90, 80, 70, 60])
total = 0
for grade in grades:
  total +=grade
print(total/len(grades))

75.0

In [ ]:
import numpy as np

In [ ]:
total = np.sum(grades)
print(total/len(grades))

75.0

In [ ]:
numbers = pd.Series(np.random.randint(0, 1000, 10000))

In [ ]:
numbers

0       593
1       557
2       952
3       804
4       449
       ...
9995    575
9996    947
9997     14
9998    998
9999    832
Length: 10000, dtype: int64

In [ ]:
numbers.head()

0    593
1    557
2    952
3    804
4    449
dtype: int64

In [ ]:
len(numbers)

10000

In [ ]:
%%timeit -n 100
total = 0
for number in numbers:
  total += number
total/len(numbers)

100 loops, best of 5: 1.34 ms per loop

In [ ]:
%%timeit -n 100
total = np.sum(numbers)
total/len(numbers)

100 loops, best of 5: 56.5 µs per loop

In [ ]:
%%timeit -n 100
numbers.head()

100 loops, best of 5: 40.7 µs per loop

In [ ]:
numbers.head()

0    593
1    557
2    952
3    804
4    449
dtype: int64

In [ ]:
%%timeit -n 100
count = 0
if count !=  5:
  for llist in numbers:
    if count !=  5:
      break
    print(llist)
    count +=1

The slowest run took 23.62 times longer than the fastest. This could mean that an intermediate result is being cached.
100 loops, best of 5: 2.18 µs per loop

In [ ]:
numbers.head()

0    593
1    557
2    952
3    804
4    449
dtype: int64

In [ ]:
numbers += 2

In [ ]:
numbers.head()

0    595
1    559
2    954
3    806
4    451
dtype: int64

In [ ]:
%%timeit -n 10 
s = pd.Series(np.random.randint(0, 1000, 10000))

for label, value in s.iteritems():
  s.loc[label] = value+2

10 loops, best of 5: 429 ms per loop

In [ ]:
%%timeit -n 10

s = pd.Series(np.random.randint(0, 1000,10000))
s+2

10 loops, best of 5: 237 µs per loop

In [ ]:
s = pd.Series([1,2,3])

In [ ]:
s.loc['History'] = 102

In [ ]:
s

0            1
1            2
2            3
History    102
dtype: int64

In [ ]:
student_class = pd.Series({'Nursultan' : 'Physics',
                           'Bill' : 'Computer Scince',
                           'Warren' : 'Economics',
                           'Kudya' : 'Mathematics'})

In [ ]:
student_class

Nursultan            Physics
Bill         Computer Scince
Warren             Economics
Kudya            Mathematics
dtype: object

In [ ]:
kelly_class = pd.Series(['Philosophy', 'Arts', 'Biology'], index = ['Djasmin', 'Temirlan', 'Eldar'])

In [ ]:
all_student = student_class.append(kelly_class)

In [ ]:
all_student

Nursultan            Physics
Bill         Computer Scince
Warren             Economics
Kudya            Mathematics
Djasmin           Philosophy
Temirlan                Arts
Eldar                Biology
dtype: object

In [ ]:
all_student.loc['Nursultan']

'Physics'

In [ ]:
all_student.loc['Kudya']

'Mathematics'

# ***DataFrame Data Structure***

In [ ]:
import pandas as pd

In [ ]:
record1 = pd.Series({'Name' : 'Nursultan',
                     'Class' : 'Physics',
                     'Score' : 100})
record2 = pd.Series({'Name' : 'Bill',
                     'Class' : 'Computer Scince',
                     'Score' : 100})
record3 = pd.Series({'Name' : 'Warren',
                     'Class' : 'Economics',
                     'Score' : 100})

In [ ]:
df = pd.DataFrame([record1, record2, record3],)

In [ ]:
df

        Name            Class  Score
0  Nursultan          Physics    100
1       Bill  Computer Scince    100
2     Warren        Economics    100

In [ ]:
df2 = pd.DataFrame([record1, record2, record3],index = ['School 1', 'School 2', 'School 3'])

In [ ]:
df2

               Name            Class  Score
School 1  Nursultan          Physics    100
School 2       Bill  Computer Scince    100
School 3     Warren        Economics    100

In [ ]:
students =  [{'Name' : 'Nursultan',
              'Class' : 'Physics',
              'Score' : 80},
             {'Name' : 'Bill',
              'Class' : 'Computer Science',
              'Score' : 100},
             {'Name' : 'Warren',
              'Class' : 'Economics',
              'Score' : 100}]

In [ ]:
students

[{'Class': 'Physics', 'Name': 'Nursultan', 'Score': 80},
 {'Class': 'Computer Science', 'Name': 'Bill', 'Score': 100},
 {'Class': 'Economics', 'Name': 'Warren', 'Score': 100}]

In [ ]:
pd.DataFrame(students)

        Name             Class  Score
0  Nursultan           Physics     80
1       Bill  Computer Science    100
2     Warren         Economics    100

In [ ]:
df = pd.DataFrame(students, index = ['Junior', 'Master', 'Master'])

In [ ]:
df.loc['Master', 'Name']

Master      Bill
Master    Warren
Name: Name, dtype: object

In [ ]:
df.T

          Junior            Master     Master
Name   Nursultan              Bill     Warren
Class    Physics  Computer Science  Economics
Score         80               100        100

In [ ]:
df.T.loc['Name']

Junior    Nursultan
Master         Bill
Master       Warren
Name: Name, dtype: object

In [ ]:
df.T.loc['Score']

Junior     80
Master    100
Master    100
Name: Score, dtype: object

In [ ]:
df['Score']

Junior     80
Master    100
Master    100
Name: Score, dtype: int64

In [ ]:
type(df['Name'])

pandas.core.series.Series

In [ ]:
df.loc['Master']['Name']

Master      Bill
Master    Warren
Name: Name, dtype: object

In [ ]:
print(type(df.loc['Master']))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
print(type(df.loc['Master']['Name']))

<class 'pandas.core.series.Series'>

In [ ]:
df.loc[:, ['Name', 'Score']]

             Name  Score
Junior  Nursultan     80
Master       Bill    100
Master     Warren    100

In [ ]:
df.loc[:, ['Class', 'Score']]

                   Class  Score
Junior           Physics     80
Master  Computer Science    100
Master         Economics    100

In [ ]:
df.drop('Junior')

          Name             Class  Score
Master    Bill  Computer Science    100
Master  Warren         Economics    100

In [ ]:
df

             Name             Class  Score
Junior  Nursultan           Physics     80
Master       Bill  Computer Science    100
Master     Warren         Economics    100

In [ ]:
copy_df = df.copy()

In [ ]:
copy_df.drop('Name', inplace = True, axis = 1)

In [ ]:
copy_df

                   Class  Score
Junior           Physics     80
Master  Computer Science    100
Master         Economics    100

In [ ]:
del copy_df['Class']
copy_df

        Score
Junior     80
Master    100
Master    100

In [ ]:
df['ClassRanking'] = None

In [ ]:
df

             Name             Class  Score ClassRanking
Junior  Nursultan           Physics     80         None
Master       Bill  Computer Science    100         None
Master     Warren         Economics    100         None

# ***DataFrame Indexing and Loading***